@model DepartmentModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Create Department</h1>

<form method="post" asp-action="CreateDept" asp-controller="Department">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Department">Department Name</label>
        <input asp-for="Department" />
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <button type="submit">Send</button>
</form>